@import "variables";

:host::ng-deep {
  .mat-mdc-tab-links {
    align-items: center;
  }
  .mdc-tab__text-label {
    color: $black-color !important;
  }

  display: flex;
  flex-direction: column;
  height: 100%;

  mat-tab-nav-panel {
    flex-grow: 1;
  }
}

nav {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

a {
  width: 170px;
  text-decoration-line: none;
  min-height: 60px;
  color: $black-color;
}

.link-wrapper{
  display: flex;
}

.logo {
  line-height: 60px;
  color: $primary-color;
  margin-right: auto;
  margin-left: 32px;
  cursor: pointer;
}

.user-menu {
  width: 36px;
  height: 36px;
  margin-left: auto;
  margin-right: 32px;
  cursor: pointer;

  background-image: url('~src/assets/images/user.svg');
}

.link-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;

  background-repeat: no-repeat;
  background-size: cover;
}
