//$hd: 1280px;
//$hd-ready-1366: 1366px;
//$hd-ready-1400: 1400px;
//$hd-ready-1680: 1680px;
//$full-hd: 1920px;
//$uhd: 3840px;
//
//$background-color: #1F222E;
//$background72-color: #1F222EB8;
//$background-lock: #4F5364;
//$finished-color: #22C993;

$primary-color: #47A7FF;
$black-color: #383838;
$gray-color: #B7BFC7;

//$hover-color: #725ef2;
//$white-color: #ffffff;
//$inactive-color: #b7b9c8;
//$border-color: #d4d4dd;
//$disabled-color: #8f93a3;
//$default-color: #373a49;
//$free-color: #1fb887;
//$discount-color: #f2363b;
//$not-focused-input-border: #5B5F71;
//$main-list-green-header: #1BAFAF;
//$black-text: #14161F;
//$filter-color: #f65121;
//$error-color: #f2363b;
