@import "variables";

:host {
  display: inline-block;
  height: 100%;
  margin-top: 5px;
}

.quantity-container {
  display: flex;
  align-items: center;
  gap: 10px;

  justify-content: center;
  border: 1px solid $gray-color;
  border-radius: 24px;
  padding: 8px 12px;
  height: 100%;

  mat-icon {
    font-size: 24px;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
  }
}
